<!DOCTYPE html>
<html>
  <head>
    <title>Dojos</title>
    <meta charset="utf-8">
    <link rel="stylesheet", type="text/css", href="{{url_for('static', filename='./style.css')}}">
  </head>
  <body>
    <h1>Welcome to the Dojos page</h1>
    <h3>Want to be a ninja?  Join our Dojo!</h3>
    <form>
      <input type="text", name="name">Name
      <input type="text", name="email">E-mail
      <textarea name="comment", form="usrform">Why do you want to be a ninja?</textarea>
      <input type="submit", action="">
    </form>

  </body>


</html>