<!DOCTYPE html>
<html>
  <head>
    <title>Ninjas</title>
    <meta charset="utf-8">
    <link rel="stylesheet", type="text/css", href="{{url_for('static', filename='./style.css')}}">
  </head>
  <body>
    <h2>You like Ninjas?  Too bad, they don't like you</h2>
    <p>Ninjas will...</p>
    <ul>
      <li>Sneak into your home witout you noticing</li>
      <li>Carry out their mission with laser precision and stealth</li>
      <li>Kill you if they really want to.  Not much you can do to stop them.  Unless you have a gun, but they can probably dodge bullets sometiems.</li>
    </ul>

  </body>



</html>